.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 2%;
}
.modalContainer {
    background-color: #00000036;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.favColumnReverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 1px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modalContent {
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    border-radius: 2px;
}

.infoModal {
    color: #000000;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
}

.modalButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btnNo {
    padding: 7px 29px;
    color: black;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 2px;
    border: 1px solid #F76B1C;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
}

.btnNo:hover {
    background-color: #F76B1C;
    color: white;
}

.modalForm {
    display: flex;
    gap: 1rem;
}

.favHeadContainer {
    display: none;
}

